<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>vip.appcity.workflow.wntc</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>1B8C5911-370C-4CC5-9D1A-AC88FB9BB559</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>81BB8436-F1AC-4BF0-8C55-48EDB89350E1</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>2AD8D366-9A61-4E49-B504-A38B2270A457</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>998E6417-75A5-4F99-AF80-4465E34811E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>635B6602-02AB-4983-BD28-9246A16767DE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1B8C5911-370C-4CC5-9D1A-AC88FB9BB559</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>81BB8436-F1AC-4BF0-8C55-48EDB89350E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5C371D2A-F080-4EAC-A91C-B9735DAAFC91</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>998E6417-75A5-4F99-AF80-4465E34811E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E117BAD6-E9A8-4553-B6B7-8E87A4BB8644</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>A2F9CEE3-9D3C-4E97-A5ED-DF3291610B7C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>998E6417-75A5-4F99-AF80-4465E34811E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DE2E602F-313F-4D10-849E-78A4B46F5EAD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>998E6417-75A5-4F99-AF80-4465E34811E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E117BAD6-E9A8-4553-B6B7-8E87A4BB8644</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>635B6602-02AB-4983-BD28-9246A16767DE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>8A455598-2D3E-4F17-B286-D7A58AB04A3C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA346044-4CD8-4752-8DE1-73CEFFDBFAAA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>998E6417-75A5-4F99-AF80-4465E34811E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>juforg</string>
	<key>description</key>
	<string>自动把剪贴板中的图片上传到云存储</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>万能图床</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>35</integer>
				<key>hotmod</key>
				<integer>1572864</integer>
				<key>hotstring</key>
				<string>P</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>2AD8D366-9A61-4E49-B504-A38B2270A457</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>图片URL已经复制到剪贴板</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5C371D2A-F080-4EAC-A91C-B9735DAAFC91</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>import sys
import re
query = """
{query}
"""
l = re.findall('(?&lt;=\().+?(?=\))',query,re.I)
if l.__len__() &gt;0:
	sys.stdout.write(l[0])</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>3</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1B8C5911-370C-4CC5-9D1A-AC88FB9BB559</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>wn</string>
				<key>subtext</key>
				<string>自动上传剪贴板图片</string>
				<key>text</key>
				<string>万能图床</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>DE2E602F-313F-4D10-849E-78A4B46F5EAD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>68</integer>
				<key>script</key>
				<string>python wntc.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>E117BAD6-E9A8-4553-B6B7-8E87A4BB8644</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>!\[.*\]\((.+)\)</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>635B6602-02AB-4983-BD28-9246A16767DE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>81BB8436-F1AC-4BF0-8C55-48EDB89350E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>variables</key>
				<dict>
					<key>vardate</key>
					<string>{date:short}</string>
					<key>vartime</key>
					<string>{time}</string>
					<key>yuncode</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>998E6417-75A5-4F99-AF80-4465E34811E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>tc</string>
				<key>subtext</key>
				<string>自动上传剪贴板图片</string>
				<key>text</key>
				<string>万能图床</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>A2F9CEE3-9D3C-4E97-A5ED-DF3291610B7C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>8A455598-2D3E-4F17-B286-D7A58AB04A3C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:keyword}</string>
				<key>subtext</key>
				<string>本workflow configuration设置的关键字</string>
				<key>text</key>
				<string>万能图床</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EA346044-4CD8-4752-8DE1-73CEFFDBFAAA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>无论用哪个工具截图后，在剪贴板中都有这个图片的二进制信息，把这个二进制信息自动上传到各大图床平台上
目前支持的云有  阿里云(oss)腾讯云(cos)

|debug|是否开启debug模式（会弹出多余信息）|
|keyword|自定义关键字启动万能图床|
|favor_yun|如果配置了多个云，配置该项会将该项的url拷贝到剪贴板里，可选配置：oss,cos,imgur|
|cos_bucket_name|腾讯云存储桶名称|
|cos_is_cdn|是否使用cdn链接，前提是你开通了cdn|
|cos_region|域名中的地域信息。枚举值参见 可用地域 文档，如：ap-beijing, ap-hongkong, eu-frankfurt 等|
|cos_secret_id|开发者拥有的项目身份识别 ID，用以身份认证|
|cos_secret_key|开发者拥有的项目身份密钥|
|oss.AccessKeyId|开发者拥有的项目身份识别 ID，用以身份认证|
|oss.AccessKeySecret|开发者拥有的项目身份密钥|
|oss.bucket_name||
|oss.endpoint||
|imgur_use|是否使用imgur（可选）因为需要翻墙速度慢大部分人默认可关闭  true/false|
|imgur_client_id||
|imgur_client_secret||
|imgur_access_token||
|imgur_refresh_token||
|imgur_album|可选|
|porxyconf|如：http://127.0.0.1:58555 代理设置 imgur可能需要翻墙|</string>
	<key>uidata</key>
	<dict>
		<key>1B8C5911-370C-4CC5-9D1A-AC88FB9BB559</key>
		<dict>
			<key>xpos</key>
			<integer>600</integer>
			<key>ypos</key>
			<integer>220</integer>
		</dict>
		<key>2AD8D366-9A61-4E49-B504-A38B2270A457</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>80</integer>
		</dict>
		<key>5C371D2A-F080-4EAC-A91C-B9735DAAFC91</key>
		<dict>
			<key>xpos</key>
			<integer>860</integer>
			<key>ypos</key>
			<integer>210</integer>
		</dict>
		<key>635B6602-02AB-4983-BD28-9246A16767DE</key>
		<dict>
			<key>xpos</key>
			<integer>520</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>81BB8436-F1AC-4BF0-8C55-48EDB89350E1</key>
		<dict>
			<key>xpos</key>
			<integer>770</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>8A455598-2D3E-4F17-B286-D7A58AB04A3C</key>
		<dict>
			<key>xpos</key>
			<integer>660</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
		<key>998E6417-75A5-4F99-AF80-4465E34811E7</key>
		<dict>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>330</integer>
		</dict>
		<key>A2F9CEE3-9D3C-4E97-A5ED-DF3291610B7C</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>370</integer>
		</dict>
		<key>DE2E602F-313F-4D10-849E-78A4B46F5EAD</key>
		<dict>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>230</integer>
		</dict>
		<key>E117BAD6-E9A8-4553-B6B7-8E87A4BB8644</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>300</integer>
		</dict>
		<key>EA346044-4CD8-4752-8DE1-73CEFFDBFAAA</key>
		<dict>
			<key>note</key>
			<string>自定义关键字
自己在右上角[X] 中配置的keyword 触发本工作流</string>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>500</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>cos_bucket_name</key>
		<string>wntc-1251220317</string>
		<key>cos_cdn_domain</key>
		<string>cossh.myqcloud.com</string>
		<key>cos_is_cdn</key>
		<string>true</string>
		<key>cos_region</key>
		<string>ap-shanghai</string>
		<key>cos_secret_id</key>
		<string>AKIDurgMrBPF9vgFdpcyytdExX3S0ZBc3uNt</string>
		<key>cos_secret_key</key>
		<string>gFnEUaUCicQ6as0GtcDctz1sqfcOIBxc</string>
		<key>debug</key>
		<string>false</string>
		<key>favor_yun</key>
		<string>cos</string>
		<key>imgur_access_token</key>
		<string>9ac4a950705753af07916e0e090a6db8af6229ae</string>
		<key>imgur_client_id</key>
		<string>4006e10bc9bfa9d</string>
		<key>imgur_client_secret</key>
		<string>9cc6f213b55cf5678b999e4c0fcf1f9f8788de11</string>
		<key>imgur_refresh_token</key>
		<string>8e1a904b3c6857935522266a8143a65cb87b958a</string>
		<key>imgur_use</key>
		<string>false</string>
		<key>keyword</key>
		<string>wntc</string>
		<key>oss.AccessKeyId</key>
		<string>a0yPloym0g6sXsyC</string>
		<key>oss.AccessKeySecret</key>
		<string>cVm1WlvFNueSSEsIg9qQ3ORzQw6wwa</string>
		<key>oss.bucket_name</key>
		<string>wntc</string>
		<key>oss.endpoint</key>
		<string>oss-cn-shanghai.aliyuncs.com</string>
		<key>porxyconf</key>
		<string>http://127.0.0.1:58555</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>imgur_client_id</string>
		<string>oss.AccessKeyId</string>
		<string>cos_bucket_name</string>
		<string>imgur_client_secret</string>
		<string>imgur_refresh_token</string>
		<string>oss.AccessKeySecret</string>
		<string>cos_secret_id</string>
		<string>cos_secret_key</string>
		<string>imgur_access_token</string>
	</array>
	<key>version</key>
	<string>0.0.1</string>
	<key>webaddress</key>
	<string>http://appcity.vip</string>
</dict>
</plist>
